<h1>The Times</h1>

<form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
  <div class="form-group">
    <input type="text" ng-model="BeatsFactory.beatTitle" size="50" class="form-control" placeholder="Enter a New Beat" autofocus required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div ng-show="beats.length" class="col-md-12">
  <ul>
    <div ng-repeat="item in beats | orderBy:'dateCreated':true">
      <li><p>{{ item.beatsTitle }}<a ui-sref="beats.authors({ beatId: item.id })">{{ item.authors.length }} Authors</a></p></li>
    </div>
  </ul>
</div>

<div ui-view></div>
